.names {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 800px;
  max-width: 90%;
  aspect-ratio: 1;

  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;

  .names-btn {
    transition: 0.1s ease all;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;

    border: unset;
    border-radius: 4px;
    background: transparent;

    font-size: 16px;
    font-weight: 600;
    color: var(--K800);
    line-height: 1.1;
    text-align: left;

    &--current,
    &:hover {
      background: rgba(var(--K800-rgb), 0.06);
      color: var(--accent);
    }
  }
}
