@import "./media.scss";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "accent": #ec3e3e,
  "accent-hover": #bd1313,
  "K900": #24292d,
  "K800": #4e5256,
  "K700": #696f74,
  "K600": #83898e,
  "K500": #9da3a8,
  "K400": #b5bbc0,
  "K300": #ced3d6,
  "K200": #dde1e3,
  "K150": #edeef0,
  "K100": #f7f8f9,
);

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font-body: "Red Hat Display", sans-serif;
  --font-heading: "Red Hat Display", sans-serif;

  --box-shadow-300: 1px 2px 10px rgba(0, 0, 0, 0.08);
  --box-shadow-600: 1px 2px 10px rgba(0, 0, 0, 0.04),
    6px 16px 30px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;

  background: var(--white);

  font-family: var(--font-body);
  line-height: 1;
}

button {
  font-family: var(--font-body);
}

.main {
  padding: 200px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .chapter {
    display: flex;
    gap: 80px;
    width: 1000px;
    max-width: 100%;

    &__translation {
      flex: 2;

      h2 {
        transition: 0.25s ease color;
        cursor: pointer;
        margin-bottom: 30px;

        font-size: 46px;
        font-weight: 700;
        color: var(--K800);

        &:hover {
          color: var(--accent);
        }
      }
      h4 {
        transition: 0.25s ease color;
        cursor: pointer;
        margin-bottom: 10px;

        font-size: 16px;
        font-weight: 500;
        color: var(--K400);

        &:hover {
          color: var(--accent);
        }
      }

      p {
        white-space: pre-line;

        font-size: 18px;

        line-height: 1.8;
      }
    }

    &__original {
      flex: 1;

      .original {
        margin-top: 80px;

        p {
          font-size: 22px;
          line-height: 1.8;
          letter-spacing: 8px;
        }
      }
    }

    p {
      white-space: pre-line;
      color: var(--K800);

      &.empty-text {
        font-size: 18px;
        color: var(--K400);
        letter-spacing: 0;
      }
    }
  }
}

.nav {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 30px;

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &__buttons {
      display: flex;
      gap: 12px;
    }

    &__label {
      font-size: 14px;
      color: var(--K600);
    }
  }
}

.btn {
  transition: 0.25s ease background;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;

  border: unset;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05), 2px 4px 8px rgba(0, 0, 0, 0.05);

  svg path {
    transition: 0.25s ease fill;
    fill: var(--K800);
  }

  &:hover {
    background: var(--K100);

    svg path {
      fill: var(--accent);
    }
  }
}

.overlay {
  cursor: pointer;
  transition: 0.75s ease all;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(var(--white-rgb), 0.85);
  backdrop-filter: blur(4px);
}

.grid {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 800px;
  max-width: 90%;
  aspect-ratio: 1;

  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  .grid-btn {
    transition: 0.1s ease all;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: unset;
    border-radius: 4px;
    background: transparent;

    font-size: 18px;
    font-weight: 700;
    color: var(--K800);

    &--current,
    &:hover {
      background: rgba(var(--K800-rgb), 0.06);
      color: var(--accent);
    }
  }
}

.names {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 800px;
  max-width: 90%;
  aspect-ratio: 1;

  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;

  .names-btn {
    transition: 0.1s ease all;
    cursor: pointer;
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 50px;
    padding: 0 20px;

    border: unset;
    border-radius: 4px;
    background: transparent;

    font-size: 18px;
    font-weight: 700;
    color: var(--K800);

    &--current,
    &:hover {
      background: rgba(var(--K800-rgb), 0.06);
      color: var(--accent);
    }
  }
}

.tooltip-tao {
  white-space: pre-line;
  word-break: break-all;

  max-width: 300px;
  padding: 12px !important;
  // background-color: var(--white) !important;

  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  // color: var(--K800) !important;
}
// .tooltip-tao.place-top:after {
// border-top-color: var(--white) !important;
// border-top-style: solid !important;
// border-top-width: 6px !important;
// }
