@import "./media.scss";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;500&display=swap");

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "accent": #c3121a,
  "accent-hover": #b80f17,
  "K900": #24292d,
  "K800": #4e5256,
  "K700": #696f74,
  "K600": #83898e,
  "K500": #9da3a8,
  "K400": #b5bbc0,
  "K300": #ced3d6,
  "K200": #dde1e3,
  "K150": #edeef0,
  "K100": #f7f8f9,
);

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
  }
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font-body: "Red Hat Display", sans-serif;
  --font-heading: "Red Hat Display", sans-serif;
  // --font-chinese: "Noto Serif TC", serif;
  --font-chinese: "Noto Sans TC", serif;

  --box-shadow-300: 1px 2px 10px rgba(0, 0, 0, 0.08);
  --box-shadow-600: 1px 2px 10px rgba(0, 0, 0, 0.04),
    6px 16px 30px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;

  background: var(--white);

  font-family: var(--font-body);
  line-height: 1;
}

button {
  font-family: var(--font-body);
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  @media #{$query-min-lg} {
    padding: 200px 40px;
  }
  @media #{$query-max-lg} {
    padding: 120px 30px 200px;
  }
}

.overlay {
  cursor: pointer;
  transition: 0.75s ease all;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(var(--white-rgb), 0.85);
  backdrop-filter: blur(4px);
}

.tooltip-tao {
  max-width: 300px;
  padding: 12px 16px !important;

  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1.4 !important;
  color: var(--white) !important;
  white-space: pre-line;
}
